---
const { curPost } = Astro.props;
const tags = curPost.frontmatter.tags.split(",").map((e) => {
    return e.trim();
});
---

<div
    x-data=""
    id={curPost.frontmatter.title}
    class="postContainer"
    x-on:click={"() => {location.href=" + "'" + curPost.url + "'" + ";}"}
    style="cursor:pointer;"
>
    <a
        id={curPost.frontmatter.title + "_title"}
        class="title"
        href={curPost.url}>{curPost.frontmatter.title}</a
    >
    <div class="tagsContainer">
        <span>Tags:</span>
        {tags.map((tag) => <span class="tag">{tag}</span>)}
    </div>
    <p>{curPost.frontmatter.teaser}</p>
</div>
<style>
    .tagsContainer {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    .postContainer {
        margin-left: 2rem;
        margin-right: 2rem;
    }
</style>
<script define:vars={{ curPost }}>
    const postContainer = document.getElementById(curPost.frontmatter.title);
    postContainer.addEventListener("mouseover", () => {
        const title = document.getElementById(
            curPost.frontmatter.title + "_title",
        );
        title.classList.add("hoverClass");
    });
    postContainer.addEventListener("mouseout", () => {
        const title = document.getElementById(
            curPost.frontmatter.title + "_title",
        );
        title.classList.remove("hoverClass");
    });
</script>
